<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="toggleSidebar('new-client-sidebar')"
          >
            ×
          </button>
          <div class="modal-header mb-1">
            <h5 class="modal-title" id="exampleModalLabel">New Client</h5>
          </div>
          <div class="modal-body flex-grow-1">
            <div class="form-group">
              <label class="form-label" for="basic-icon-default-email">Email</label>
              <input
              
                type="email"
                [pattern]="pattern"
                id="basic-icon-default-email"
                class="form-control dt-email"
                placeholder="john.doe@example.com"
                aria-label="john.doe@example.com"
                aria-describedby="basic-icon-default-email2"
                name="email"
                [(ngModel)]="email"
                [class.error]="FEmailRef.invalid"
                #FEmailRef="ngModel"
                
                required
              />
              <span *ngIf="FEmailRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FEmailRef.errors.required">This field is required!</small>
              </span>
              <small class="form-text text-muted"> You can use letters, numbers & periods </small>
            </div>
            <div class="form-group">
                <label class="form-label" for="basic-icon-default-email">Raison Social</label>
                <input
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  [class.error]="rs.invalid"
                  placeholder="24724704"
                  aria-describedby="basic-icon-default-email2"
                  name="raisonSocial"
                  [(ngModel)]="raisonSocial"
                  #rs="ngModel"
                  
                  required
                />
                <span *ngIf="rs.errors?.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="rs.errors?.invalid">This field is required!</small>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label" for="basic-icon-default-email">Responsable</label>
                <input
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  [class.error]="rss.invalid"
                  placeholder="..."
                  name = "responsable"
                  aria-describedby="basic-icon-default-email2"
                  [(ngModel)]="responsable"
                  #rss="ngModel"
                  
                  required
                />
                <span *ngIf="rss.errors?.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="rss.errors?.invalid">This field is required!</small>
                </span>
                <small class="form-text text-muted"> You can use only numbers </small>
            </div>
            <div class="form-group">
                <label class="form-label" for="basic-icon-default-email">Adresse</label>
                <input
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  [class.error]="adr.invalid"
                  placeholder="24724704"
                  aria-describedby="basic-icon-default-email2"
                  name="adresse"
                  [(ngModel)]="adresse"
                  #adr="ngModel"
                  
                  required
                />
                <span *ngIf="adr.errors?.pattern" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="adr.errors?.pattern">This field is required!</small>
                </span>
                <small class="form-text text-muted"> You can use only numbers </small>
            </div>

            <div class="form-group">
                <label class="form-label" for="basic-icon-default-email">Telephone</label>
                <input
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  [class.error]="FTelRef.invalid"
                  placeholder="24724704"
                  aria-describedby="basic-icon-default-email2"
                  name="tel"
                  [pattern]="unamePattern"
                  #uname="ngModel"
                  [(ngModel)]="tel"
                  #FTelRef="ngModel"
                  
                  required
                />
                <span *ngIf="uname.errors?.pattern" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="uname.errors?.pattern">This field is required!</small>
                </span>
                <small class="form-text text-muted"> You can use only numbers </small>
            </div>
           
            
            
            
            <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Submit</button>
            <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-client-sidebar')"
              rippleEffect
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal to add new user Ends-->
  </div>
  