<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
        <!-- users filter start -->
      
        <!-- users filter end -->
  
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Afficher
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  Clients</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Chercher:<input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
                <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-client-sidebar')">
                  <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                  ><span class="d-none d-sm-inline-block">Ajouter Personnel</span>
                </button>
              </div>
            </div>
          </div>
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Email" prop="email" [width]="200">
              <ng-template let-row="row" let-email="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      [ngClass]="{
                        'bg-light-success': row.status == 'active',
                        'bg-light-secondary': row.status == 'inactive',
                        'bg-light-warning': row.status == 'pending'
                      }"
                    >
                      <div class="avatar-content">{{ email | initials }}</div>
                    </div>
                  </ng-template>
                  <div class="cell-line-height">
                    <a routerLink="/apps/user/user-view/{{ row.idc }}" class="font-medium-1 d-block"
                      ><span class="font-weight-bold">{{ email }}</span></a
                    >
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="tel" prop="tel" [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Raison Social" prop="raisonSocial" [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Responsable" prop="responsable" [width]="100"></ngx-datatable-column>

            <ngx-datatable-column name="Adresse" prop = "adresse"  [width]="20"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                
                  
                 
                    <a (click) = "modalOpenSM(modalSM , row.idc)" 
                      ><span [data-feather]="'edit'" [size]="16" class = "text-warning" [class]="'mr-50'"></span></a
                    ><a  (click) = "deleteClient(row.idc)" 
                      ><span [data-feather]="'trash'" class = "text-danger"  [size]="16" [class]="'mr-50'"></span> </a
                    >
                  
                
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
    
  
    <!-- New User Sidebar -->
    <core-sidebar
      class="modal modal-slide-in sidebar-todo-modal fade"
      name="new-client-sidebar"
      overlayClass="modal-backdrop"
    >
      <app-new-client-sidebar></app-new-client-sidebar>
    </core-sidebar>
    <!--/ New User Sidebar -->
  </div>

  <ng-template #modalSM let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Modifier Client</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <!-- users edit start -->
          <section class="app-user-edit">
            <div class="card">
              <div class="card-body">
                <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                  <li ngbNavItem>
                    
                    <ng-template ngbNavContent>
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <!-- users edit media object start -->
                        
                        <!-- users edit media object ends -->
                        <!-- users edit account form start -->
                        <form class="form-validate" (ngSubmit)="(accountForm.form.valid)" #accountForm="ngForm">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="email">email</label>
                                <input
                                  type="email"
                                  id="email"
                                  class="form-control"
                                  placeholder="email"
                                  name="email"
                                  [(ngModel)]="currentRow.email"
                                  [class.error]="accountForm.submitted && emailRef.invalid"
                                  #emailRef="ngModel"
                                  required
                                />
                                <span *ngIf="accountForm.submitted && emailRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="emailRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="responsable">Responsalbe</label>
                                <input
                                  type="text"
                                  id="responsable"
                                  class="form-control"
                                  placeholder="responsable"
                                  name="responsable"
                                  [(ngModel)]="currentRow.responsable"
                                  [class.error]="accountForm.submitted && respRef.invalid"
                                  #respRef="ngModel"
                                  required
                                />
                                <span *ngIf="accountForm.submitted && respRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="respRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="raisonSocial">Raison Social</label>
                                <input
                                  type="text"
                                  id="raisonSocial"
                                  class="form-control"
                                  placeholder="raisonSocial"
                                  name="raisonSocial"
                                  [(ngModel)]="currentRow.raisonSocial"
                                  [class.error]="accountForm.submitted && raisRef.invalid"
                                  #raisRef="ngModel"
                                  required
                                />
                                <span *ngIf="accountForm.submitted && raisRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="raisRef.errors.required"
                                    >This field is required!</small
                                  >
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="tel">Telephone</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="currentRow.tel"
                                  placeholder="Tel"
                                  id="tel"
                                  name="tel"
                                />
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="adresse">Adresse</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="currentRow.adresse"
                                  placeholder="Tel"
                                  id="adresse"
                                  name="adresse"
                                />
                              </div>
                            </div>
                            
                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                              <button
                                type="submit"
                                (click)="submit(accountForm , modal)"
                                class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                                rippleEffect
                              >
                                Save Changes
                              </button>
                              
                            </div>
                          </div>
                        </form>
                        <!-- users edit account form ends -->
                      </div>
                      <!-- Account Tab ends -->
                    </ng-template>
                  </li>
                  
                  
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
            </div>
          </section>
          <!-- users edit ends -->
        </div>
      </div>
      
    </div>
  </ng-template>