<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
  
      <!-- Vertical Wizard -->
      <section class="vertical-wizard">
        <div id="stepper2" class="bs-stepper vertical vertical-wizard-example">
          <div class="bs-stepper-header">
            <div class="step" data-target="#account-details-vertical">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">1</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Informations</span>
                </span>
              </button>
            </div>
            <div class="step" data-target="#personal-info-vertical">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">2</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">échantillon</span>
                </span>
              </button>
            </div>
            
          </div>
          <div class="bs-stepper-content">
            <div id="account-details-vertical" class="content">
              <div class="content-header">
                <h5 class="mb-0">Informations de la demande</h5>
              </div>
              <form #form = "ngForm">

                <div class="row">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="vertical-client">Client</label>
                      <ng-select [items]="clients" bindLabel="email" [loading]="selectBasicLoading" (change) = "onChange($event)" required> </ng-select>
                    </div>
                    <div class="form-group col-md" style="margin-top: 30px;">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="controle" />
                            <label class="custom-control-label" for="controle">Auto-Controle</label>
                          </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group form-password-toggle col-md-12">
                        <label for="observation">Observation</label>
                        <fieldset class="form-group">
                          <textarea class="form-control" id="observation" rows="5" placeholder="Observation" required></textarea>
                        </fieldset>
                    </div>
                    
                  </div>

              </form>
              
              <div class="d-flex justify-content-between">
                
                <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect = "form.form.valid">
                  <span class="align-middle d-sm-inline-block d-none">Suivant</span>
                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
              </div>
            </div>
            <div id="personal-info-vertical" class="content">
              <div class="content-header">
                <h5 class="mb-0">Informations d'échantillon(s)</h5>
              </div>
            
    <form action="#" class="invoice-repeater">
     <div *ngFor="let item of items; let i = index" >
        <div class="row d-flex align-items-end">
                    <div class="col-md-4 col-4">
                      <div class="form-group">
                        <label for="nature{{ i }}">Nature</label>
                        <ng-select (change) = "updateParams($event , i)" id = "nature{{ i }}" name = "nature{{ i }}" [items]="natures" bindLabel="designation" [loading]="selectBasicLoading" [(ngModel)] = "selected_nature[i]"> 
                          <ng-template ng-footer-tmp>
                            <button (click) = "afficherAddNature(modalSMm , i)" style="width: 100%;" type="button" class="btn btn-flat-primary" rippleEffect>
                              <span [data-feather]="'plus-circle'" [class]="'mr-25'"></span>Ajouter</button
                            >
                        </ng-template>

                        </ng-select>
                      </div>
                    </div>
              
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <label for="famille{{ i }}">Famille</label>
                        <ng-select (change) = "updateFamille($event , i)" id = "famille{{ i }}" name = "famille{{ i }}" [items]="familles[i]" bindLabel="nomf" [loading]="selectBasicLoading" [(ngModel)] = "selected_famille[i]">
                          <ng-template ng-footer-tmp>
                            <button (click) = "afficherAddFamille(modalSM , i)" style="width: 100%;" type="button" class="btn btn-flat-primary" rippleEffect>
                              <span [data-feather]="'plus-circle'" [class]="'mr-25'"></span>Ajouter</button
                            >
                        </ng-template>
                        </ng-select>
                      </div>
                    </div>
              
                   
              
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <label for="nlot{{ i }}">Nlot</label>
                        <input [(ngModel)] ="item.nlot"  type="number"  class="form-control" id="nlot{{ i }}" name = "nlot{{ i }}" />
                      </div>
                    </div>
              
                    <div class="col-md-2 col-12 mb-50">
                      <div class="form-group">
                        <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteItem(i)" rippleEffect>
                          <i data-feather="x" class="mr-25"></i>
                          <span>Supprimer</span>
                        </button>
                      </div>
                    </div>

            </div>

            <div class="row d-flex align-items-end">
                <div class="col-md-2 col-12">
                    <div class="form-group">
                      <label for="qunatite{{ i }}">Quantité</label>
                      <input [(ngModel)] = "item.quantite" type="number"  class="form-control" id="qunatite{{ i }}" name = "qunatite{{ i }}"   />
                    </div>
                </div>

                <div class="col-md-2 col-2">
                    <div class="form-group">
                      <label for="temperature{{ i }}">Température</label>
                      <input type="number"  class="form-control" id="temperature{{ i }}" name = "temperature{{ i }}" [(ngModel)] ="item.temperature"  />
                    </div>
                </div>

                <div class="col-md-4 col-4">
                    <div class="form-group">
                        <label for="param{{ i }}">Parametre(s)</label>
                        <!-- Basic Multi select -->
                        <ng-select
                          [items]="paramatres[i]"
                          [multiple]="true"
                          [closeOnSelect]="false"
                          [searchable]="true"
                          bindLabel="nomp"
                          name = "param{{ i }}"
                          id = "param{{ i }}"
                          [(ngModel)]="selectMultiSelected[i]"
                        >
                          <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label"> {{ item.nomp }}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                          </ng-template>
                        </ng-select>
                        <!--/ Basic Multi select -->
                      </div>
                </div>

                <div class="col-md-4 col-4">
                  <div class="form-group">
                      <label for="dep{{ i }}">Departement</label>
                      <!-- Basic Multi select -->
                      <ng-select
                        [items]="departements"
                        [multiple]="false"
                        [closeOnSelect]="true"
                        [searchable]="true"
                        bindLabel = "name"
                        name = "dep{{ i }}"
                        id = "dep{{ i }}"
                        [(ngModel)] = "item.dep"
                      >
                      </ng-select>
                      <!--/ Basic Multi select -->
                    </div>
              </div>

            </div>


            <hr style="border: none;
            height: 1px;
            /* Set the hr color */
            color: #333; /* old IE */
            background-color: #333; /* Modern Browsers */" />
            </div>
              </form>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-icon btn-warning" type="button" (click)="addItem()" rippleEffect>
                    <i data-feather="plus" class="mr-25"></i>
                    <span>Ajouter</span>
                  </button>
                </div>
              </div>
              <div class="d-flex justify-content-between" style ="margin-top: 10px;">
                <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                  <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                  <span class="align-middle d-sm-inline-block d-none">Précédent</span>
                </button>
                <button class="btn btn-success" [swal]="SweetAlertConfirmText" rippleEffect rippleEffect>
                  <span class="align-middle d-sm-inline-block d-none">Enregistrer</span>
                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
              </div>
            </div>
           
            
          </div>
        </div>
      </section>
      <!-- /Vertical Wizard -->
  
      
  
      
    </div>
  </div>

  <swal #SweetAlertConfirmText (open)="ConfirmTextOpen()"></swal>

  <ng-template #modalSM let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Ajouter Famille</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <form (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
        <div class="row">
          <div class="col-12 col-md-12">
            <fieldset class="form-group">
              <ng-select
                [items]="natures"
                [(ngModel)]="nature"
                name="nature"
                bindLabel="designation"
                required
              >
              
            </ng-select>
            </fieldset>
          </div>
          
          
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="designation">Nom Famille</label>
            <input
              type="text"
              name = "nomf"
              [(ngModel)]="designation"
              class="form-control"
              placeholder="designation"
              required
            />
          </div>
        </div>
        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
          <button
          
            (click) = "onSubmit(newUserForm , modal)"
            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
            rippleEffect
          >
            Ajouter
          </button>
          
        </div>
      </form>
      
    </div>
  </ng-template>
  <ng-template #modalSMm let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Ajouter Nature</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <form (ngSubmit)="(newUserForms.form.valid)" #newUserForms="ngForm">
        
        <div class="col-md-12">
          <div class="form-group">
            <label for="designation">Designation</label>
            <input
              type="text"
              name = "designation"
              [(ngModel)]="designation"
              class="form-control"
              placeholder="designation"
              required
            />
          </div>
        </div>
        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
          <button
          
            (click) = "submit(newUserForms , modal)"
            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
            rippleEffect
          >
            Ajouter
          </button>
          
        </div>
      </form>
      
    </div>
  </ng-template>
  