@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Condensed&display=swap");