<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
        <!-- users filter start -->
        <div class="card">
          <h5 class="card-header">Filtre de recherche</h5>
          <div class="card-body">
            <div class="users-list-filter">
              <form>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectControle"
                        [(ngModel)]="selectedControle"
                        name="selectedControle"
                        bindLabel="name"
                        placeholder="Filtrer par Controle"
                        (change)="filterByControle($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="Basic Date Picker" [(ngModel)]="basicDPdata"
                        ngbDatepicker #basicDP="ngbDatepicker" (dateSelect) = "dateCompare($event)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP.toggle()"
                          type="button" rippleEffect></button>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-outline-danger feather icon-x" (click)="dateCompare('none')"
                          type="button" rippleEffect></button>
                      </div>
                    </div>
                  </div>
        
                  
                  
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- users filter end -->
        
  
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Afficher
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  Demandes</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Chercher:<input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
                <button class="btn btn-primary ml-1" rippleEffect (click) = "ToAdd()">
                  <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                  ><span class="d-none d-sm-inline-block">Ajouter Demande</span>
                </button>
              </div>
            </div>
          </div>
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="false"
          >
            <ngx-datatable-column name="Code" prop="codedemande" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Client" prop="client" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Controle" prop="controle" [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Echantillons" prop="nbr" [width]="90">
              <ng-template let-nbr = "value" ngx-datatable-cell-template let-row="row" >
                <a class="btn btn-flat-secondary"  (click) = "AfficherModal(modalSM , row.echantillons)"
                ><span  class = "text-info"  [size]="16" [class]="'mr-50'">{{nbr}} Echantillon(s)</span> </a
              >
      

                

              </ng-template>

            </ngx-datatable-column>
            
            <ngx-datatable-column name="date de réception" prop="date_reception" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Etat" prop="etat" [width]="70">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div
                  class="badge badge-pill"
                  [ngClass]="{
                    'badge-light-success': status == 'traite',
                    'badge-light-secondary': status == 'inactive',
                    'badge-light-warning': status == 'en cours'
                  }"
                >
                  {{ status }}
                </div>
              </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                
                  
                <a  (click) = "editDemande(modalSMx,row)"
                ><span [data-feather]="'edit'" class = "text-warning"  [size]="16" [class]="'mr-50'"></span> </a
              >
                    <a  (click) = "deleteDemande(row.ref)"
                      ><span [data-feather]="'trash'" class = "text-danger"  [size]="16" [class]="'mr-50'"></span> </a
                    >
                  
                
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
    
  
    <!-- New User Sidebar -->
    <!--/ New User Sidebar -->
  </div>

  <ng-template #modalSM let-modals>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Echantillons</h5>
      <button type="button" class="close" (click)="modals.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <ngb-accordion #acc="ngbAccordion">

        <ngb-panel *ngFor = "let ech of selected_echantillons">
          <ng-template ngbPanelTitle>
            <span class="lead collapse-title"> Echantillon :  {{ech.echantillon.designation}} </span>
          </ng-template>
          <ng-template ngbPanelContent>
           <div class = "row">
              <div class="col-xl-6 col-md-6 col-sm-6">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="avatar bg-light-info p-50 m-0 mb-1">
                      <div class="avatar-content">
                        <i data-feather="home" class="font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="font-weight-bolder">{{ech.echantillon.departements.length}}</h2>
                    <p class="mb-0 line-ellipsis">Departement</p>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-md-6 col-sm-6">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="avatar bg-light-danger p-50 m-0 mb-1">
                      <div class="avatar-content">
                        <i data-feather="thermometer" class="font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="font-weight-bolder">{{ech.echantillon.temperature}}</h2>
                    <p class="mb-0 line-ellipsis">Température</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="col-xl-6 col-md-6 col-sm-6">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="avatar bg-light-warning p-50 m-0 mb-1">
                      <div class="avatar-content">
                        <i data-feather="package" class="font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="font-weight-bolder">{{ech.echantillon.quantite}}</h2>
                    <p class="mb-0 line-ellipsis">Quantité</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-md-6 col-sm-6">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="avatar bg-light-warning p-50 m-0 mb-1">
                      <div class="avatar-content">
                        <i data-feather="shopping-bag" class="font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="font-weight-bolder">{{ech.echantillon.nlot}}</h2>
                    <p class="mb-0 line-ellipsis">NLot</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="col-xl-12 col-md-12 col-sm-12">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="avatar bg-light-warning p-50 m-0 mb-1">
                      <div class="avatar-content">
                        <i data-feather="droplet" class="font-medium-5"></i>
                      </div>
                    </div>
                    <h2 class="font-weight-bolder">{{ech.echantillon.nature.designation}}</h2>
                    <p class="mb-0 line-ellipsis">Nature</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="col-12" style="display: flex;
              justify-content: center;">
                <img src  = "{{ech.code_a_barre}}">
              </div>
              
            </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </ng-template>

  <ng-template #modalSMx let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Modifier Demande</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <!-- users edit start -->
          <section class="app-user-edit">
            <div class="card">
              <div class="card-body">
                <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                  <li ngbNavItem>
                    
                    <ng-template ngbNavContent>
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <!-- users edit media object start -->
                        
                        <!-- users edit media object ends -->
                        <!-- users edit account form start -->
                        <form class="form-validate" (ngSubmit)="(accountForm.form.valid)" #accountForm="ngForm">
                          <div class="row">
                            <div class="form-group form-password-toggle col-md-8">
                              <label for="observation">Observation</label>
                              <fieldset class="form-group">

                                <textarea
                                  [(ngModel)] = "this.selected_demande.observation"
                                  name="observation"
                                 class="form-control" id="observation" rows="5" placeholder="Observation" required></textarea>
                              </fieldset>
                          </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <div class="form-group col-md" style="margin-top: 30px;">
                                  <div class="custom-control custom-switch custom-control-inline">
                                      <input (click)="onChange($event)"
                                      [checked]='control_stat'
                                       type="checkbox" class="custom-control-input" id ="controle" />
                                      <label class="custom-control-label" for="controle">Auto-Controle</label>
                                    </div>
                              </div>
                              </div>
                            </div>
                            
                            <ngb-accordion #acc="ngbAccordion">

                              <ngb-panel *ngFor = "let ech of selected_echantillons_edit">
                                <ng-template ngbPanelTitle>
                                  <span class="lead collapse-title"> Echantillon #{{ech.echantillon.id}} </span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                 <div class = "row">
                                    <div class="col-xl-12 col-md-12 col-sm-12">
                                      <div class="card text-center">
                                        <div class="card-body">
                                          <div class="avatar bg-light-danger p-50 m-0 mb-1">
                                            <div class="avatar-content">
                                              <i data-feather="droplet" class="font-medium-5"></i>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="tel">Température</label>
                                            <input
                                            [(ngModel)]="ech.echantillon.temperature"
                                            name ="temperature{{ech.echantillon.ref}}"
                                              type="text"
                                              class="form-control"
                                              
                                            />
                                          </div>
                                         
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class = "row">
                                    <div class="col-xl-6 col-md-6 col-sm-6">
                                      <div class="card text-center">
                                        <div class="card-body">
                                          <div class="avatar bg-light-warning p-50 m-0 mb-1">
                                            <div class="avatar-content">
                                              <i data-feather="package" class="font-medium-5"></i>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="tel">Quantité</label>
                                            <input
                                            [(ngModel)]="ech.echantillon.quantite"
                                            name = "quantite{{ech.echantillon.ref}}"
                                              type="text"
                                              class="form-control"
                                              
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-6">
                                      <div class="card text-center">
                                        <div class="card-body">
                                          <div class="avatar bg-light-warning p-50 m-0 mb-1">
                                            <div class="avatar-content">
                                              <i data-feather="shopping-bag" class="font-medium-5"></i>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="tel">NLot</label>
                                            <input
                                            [(ngModel)]="ech.echantillon.nlot"
                                            name = "nlot{{ech.echantillon.ref}}"
                                              type="text"
                                              class="form-control"
                                              
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                            
                      
                                </ng-template>
                              </ngb-panel>
                            </ngb-accordion>
                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                              <button
                                type="submit"
                                (click)="sendUpdateDemande()"
                                class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                                rippleEffect
                              >
                                  Sauvegarder les modifications
                              </button>
                              
                            </div>
                          </div>
                        </form>
                        <!-- users edit account form ends -->
                      </div>
                      <!-- Account Tab ends -->
                    </ng-template>
                  </li>
                  
                  
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
            </div>
          </section>
          <!-- users edit ends -->
        </div>
      </div>
      
    </div>
  </ng-template>

  

  