<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="toggleSidebar('new-user-sidebar')"
          >
            ×
          </button>
          <div class="modal-header mb-1">
            <h5 class="modal-title" id="exampleModalLabel">Nouveau personnel</h5>
          </div>
          <div class="modal-body flex-grow-1">
            <div class="form-group">
              
              <label class="form-label" for="basic-icon-default-fullname">Nom complet</label>
              
              <input
                type="text"
                class="form-control dt-full-name"
                id="basic-icon-default-fullname"
                placeholder="Nom Prenom"
                name="name"
                [(ngModel)]="fullname"
                [class.error]="FNameRef.invalid && FNameRef.touched"
                #FNameRef="ngModel"
                required
                aria-label="John Doe"
                aria-describedby="basic-icon-default-fullname2"
                required
              />
              <span *ngIf="FNameRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FNameRef.errors.required && FNameRef.touched">Ce champ est requis!</small>
              </span>
            </div>
            <div class="form-group">
                <label class="form-label" for="basic-icon-default-uname">CIN</label>
                <input
                  type="text"
                  id="basic-icon-default-uname"
                  class="form-control dt-uname"
                  placeholder="12345678"
                  aria-describedby="basic-icon-default-uname2"
                  name="cin"
                  [pattern]="cinPattern"
                  [(ngModel)]="cin"
                  [class.error]="FUserNameRef.invalid && FUserNameRef.touched"
                  #FUserNameRef="ngModel"
                  required
                />
                <span *ngIf="FUserNameRef.invalid || FUserNameRef.errors.pattern" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="FUserNameRef.errors.required && FUserNameRef.touched">Ce champ est requis!</small>
                  <small class="form-text text-danger" *ngIf="FUserNameRef.errors?.pattern">Le CIN doit commencer avec [0,1] et comporter seulement 8 chiffres</small>
                </span>
              </div>
            <div class="form-group">
              <label class="form-label" for="basic-icon-default-email">Email</label>
              <input
              
                type="email"
                [pattern]="pattern"
                id="basic-icon-default-email"
                class="form-control dt-email"
                placeholder="john.doe@example.com"
                aria-label="john.doe@example.com"
                aria-describedby="basic-icon-default-email2"
                name="email"
                [(ngModel)]="email"
                [class.error]="FEmailRef.invalid && FEmailRef.touched"
                #FEmailRef="ngModel"
                
                required
              />
              <span *ngIf="FEmailRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FEmailRef.errors.required && FEmailRef.touched">Ce champ est requis!</small>
              </span>
              <small class="form-text text-muted"></small>
            </div>

            <div class="form-group">
                <label class="form-label" for="basic-icon-default-email">Telephone</label>
                <input
                  type="text"
                  id="basic-icon-default-email"
                  class="form-control dt-email"
                  [class.error]="FTelRef.invalid && FTelRef.touched"
                  placeholder="54777746"
                  aria-describedby="basic-icon-default-email2"
                  name="tel"
                  [pattern]="unamePattern"
                  [(ngModel)]="tel"
                  #FTelRef="ngModel"
                  
                  required
                />
                <span *ngIf="FTelRef.invalid || FTelRef.errors.pattern" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="FTelRef.errors.required && FTelRef.touched ">Ce champ est requis!</small>
                  <small class="form-text text-danger" *ngIf="FTelRef.errors.pattern">Le numéro de téléphone doit commencer avec les chiffres suivants:(2,4,5,7,9) et comporter 8 chiffres.</small>
                </span>
                <small class="form-text text-muted"></small>
              </div>
            <div class="form-group">
              <label class="form-label" for="role">Role</label>
              <select id="user-role" class="form-control" name = "role" [(ngModel)]="role" #FRoleRef = "ngModel" [class.error] = "FRoleRef.invalid && FRoleRef.touched" required>
                <option value="Réceptionniste">Réceptionniste</option>
                <option value="technicien">technicien</option>
              </select>
              <span *ngIf="FRoleRef.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="FRoleRef.errors.required && FRoleRef.touched ">Ce champ est requis!</small>
              </span>
              <small class="form-text text-muted"></small>
            </div>
            <div class = "form-group">

                <div _ngcontent-ymy-c274="" class="custom-file">
                    <input (change) = 'onSelectFile($event , "photo")' [(ngModel)]="photo" name = "photo" _ngcontent-ymy-c274="" type="file" ng2fileselect="" id="file-upload-single" class="custom-file-input" ng-reflect-uploader="[object Object]" required>
                    <label _ngcontent-ymy-c274="" class="custom-file-label">Photo</label></div>
            </div>
            <div class = "form-group">
                <div _ngcontent-ymy-c274="" class="custom-file">
                    <input (change) = 'onSelectFile($event , "contrat")'  _ngcontent-ymy-c274="" type="file" ng2fileselect="" id="file-upload-single2" class="custom-file-input" ng-reflect-uploader="[object Object]" required>
                    <label _ngcontent-ymy-c274="" class="custom-file-label">Contrat</label></div>

            </div>
            
            
            
            <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Valider</button>
            <button
              type="reset"
              class="btn btn-outline-secondary"
              (click)="toggleSidebar('new-user-sidebar')"
              rippleEffect
            >
            Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal to add new user Ends-->
  </div>
  